* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 1270px) {
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        display: none;
    }
}

html {
    font-size: 62.5%;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:active {
    background: none;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    all: initial;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.ag_container {
    max-width: 1580px;
    padding: 0 90px;
    margin: 0 auto;
}

@media (max-width: 1270px) {
    .ag_container {
        padding: 0 30px;
    }
}

@media (max-width: 700px) {
    .ag_container {
        padding: 0 16px;
    }
}

@media (max-width: 1270px) {
    .ag_works .ag_container {
        padding: 0 0 0 30px;
    }
}

@media (max-width: 700px) {
    .ag_works .ag_container {
        padding: 0 0 0 16px;
    }
}

@media (max-width: 1400px) {
    .ag_verified .ag_container {
        padding: 0 70px;
    }
}

@media (max-width: 1270px) {
    .ag_verified .ag_container {
        padding: 0 0 0 30px;
    }
}

@media (max-width: 700px) {
    .ag_verified .ag_container {
        padding: 0 0 0 16px;
    }
}

@media (max-width: 1400px) {
    .ag_question .ag_container {
        padding: 0 70px;
    }
}

@media (max-width: 1270px) {
    .ag_question .ag_container {
        padding: 0 30px;
    }
}

@media (max-width: 700px) {
    .ag_question .ag_container {
        padding: 0 16px;
    }
}

@media (max-width: 1400px) {
    .ag_main .ag_container {
        padding: 0 70px;
    }
}

@media (max-width: 1270px) {
    .ag_main .ag_container {
        padding: 0;
    }
}

@font-face {
    font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "NunitoSans10pt-SemiBold";
  src: url("../fonts/NunitoSans10pt-SemiBold.eot");
  src: url("../fonts/NunitoSans10pt-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans10pt-SemiBold.woff2") format("woff2"), url("../fonts/NunitoSans10pt-SemiBold.woff") format("woff"), url("../fonts/NunitoSans10pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "NunitoSans10pt-Regular";
  src: url("../fonts/NunitoSans10pt-Regular.eot");
  src: url("../fonts/NunitoSans10pt-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans10pt-Regular.woff2") format("woff2"), url("../fonts/NunitoSans10pt-Regular.woff") format("woff"), url("../fonts/NunitoSans10pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "NunitoSans10pt-Bold";
  src: url("../fonts/NunitoSans10pt-Bold.eot");
  src: url("../fonts/NunitoSans10pt-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans10pt-Bold.woff2") format("woff2"), url("../fonts/NunitoSans10pt-Bold.woff") format("woff"), url("../fonts/NunitoSans10pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "NunitoSans-Bold";
  src: url("../fonts/NunitoSans-Bold.eot");
  src: url("../fonts/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Bold.woff2") format("woff2"), url("../fonts/NunitoSans-Bold.woff") format("woff"), url("../fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "NunitoSans-Regular";
  src: url("../fonts/NunitoSans-Regular.eot");
  src: url("../fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "NunitoSans-SemiBold";
  src: url("../fonts/NunitoSans-SemiBold.eot");
  src: url("../fonts/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"), url("../fonts/NunitoSans-SemiBold.woff") format("woff"), url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.ag_btn,
.ag_btn-three {
    line-height: 130%;
    background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#fc927b));
    background: -o-linear-gradient(left, #ff416c 0%, #fc927b 100%);
    background: linear-gradient(90deg, #ff416c 0%, #fc927b 100%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 18px 0;
}

@media (max-width: 700px) {
    .ag_btn,
  .ag_btn-three {
        padding: 12px 0;
    }
}

.ag_btn {
    font-family: "NunitoSans-SemiBold";
    font-size: 18px;
    color: #fff;
}

.ag_btn-two {
    background: -webkit-gradient(linear, left top, right top, from(#f13741), color-stop(51.44%, #ff7142), to(#f32388));
    background: -o-linear-gradient(left, #f13741 0%, #ff7142 51.44%, #f32388 100%);
    background: linear-gradient(90deg, #f13741 0%, #ff7142 51.44%, #f32388 100%);
}

.ag_btn-three {
    font-size: 16px;
    font-family: "OpenSans-Regular";
    color: #fff;
}

.ag-btn-white {
    background: #fff;
    color: #212529;
}

.ag_h1,
.ag_h2,
.ag-subheader,
.ag-header {
    font-family: "NunitoSans-SemiBold";
}

.ag_h1,
.ag_h2,
.ag-subheader,
.ag-header {
    color: #1b1b1b;
}

.ag_h1 {
    font-size: 48px;
    line-height: 120%;
}

@media (max-width: 1270px) {
    .ag_h1 {
        font-size: 40px;
        line-height: 120%;
    }
}

@media (max-width: 700px) {
    .ag_h1 {
        font-size: 32px;
    }
}

.ag_h2 {
    font-size: 36px;
    line-height: 110%;
}

@media (max-width: 700px) {
    .ag_h2 {
        font-size: 28px;
    }
}

.ag_h2-linear {
    background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#fc927b));
    background: -o-linear-gradient(left, #ff416c 0%, #fc927b 100%);
    background: linear-gradient(90deg, #ff416c 0%, #fc927b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ag-main-text {
    font-family: "NunitoSans-Regular";
    font-size: 18px;
    line-height: 130%;
    color: #383d42;
}

@media (max-width: 700px) {
    .ag-main-text {
        font-size: 16px;
    }
}

.ag-subheader {
    font-size: 24px;
    line-height: 120%;
}

@media (max-width: 700px) {
    .ag-subheader {
        font-size: 20px;
    }
}

.ag-header {
    font-size: 20px;
    line-height: 130%;
}

.ag-regular-16px {
    font-family: "NunitoSans-Regular";
    font-size: 16px;
    line-height: 125%;
    color: #383d42;
}

.ag-regular-14px {
    font-family: "NunitoSans-Regular";
    font-size: 14px;
    line-height: 130%;
    color: #676d7b;
}

.ag-49px-bold {
    font-family: "NunitoSans-Bold";
    font-size: 49px;
    background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#fc927b));
    background: -o-linear-gradient(left, #ff416c 0%, #fc927b 100%);
    background: linear-gradient(90deg, #ff416c 0%, #fc927b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ag_open-16 {
    font-size: 16px;
    line-height: 130%;
    color: #ff416c;
    font-family: "OpenSans-Regular";
}

@media (max-width: 700px) {
    .ag_open-16 {
        font-size: 15px;
    }
}

@media (max-width: 1270px) {
    .ag_search .ag_h2 {
        font-size: 28px;
    }
}

@media (max-width: 1270px) {
    .ag_search-content_box-inner .ag-main-text {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .ag_search-content_box-inner .ag-main-text {
        font-size: 12px;
    }
}

@media (max-width: 1270px) {
    .ag_search-content_box-inner .ag-subheader {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .ag_search-content_box-inner .ag-subheader {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .ag-regular-16px {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .ag_verified__wrapper-card_hidden-item .ag-regular-16px {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .ag_slider-slide_top-inner .ag-regular-14px {
        font-size: 12px;
    }
}

.ag_padding-160px {
    padding: 160px 0;
}

@media (max-width: 1400px) {
    .ag_padding-160px {
        padding: 140px 0;
    }
}

@media (max-width: 1270px) {
    .ag_padding-160px {
        padding: 100px 0;
    }
}

@media (max-width: 700px) {
    .ag_padding-160px {
        padding: 80px 0;
    }
}

.ag_main {
    margin: 0 20px;
}

@media (max-width: 1270px) {
    .ag_main {
        margin: 0 30px;
    }
}

@media (max-width: 700px) {
    .ag_main {
        margin: 0 16px;
    }
}

.ag_main-bg {
    background: #e2f4d4;
    max-width: 1816px;
    margin: 0 auto;
    border-radius: 30px;
}

.ag_main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    max-height: 700px;
    gap: 20px;
}

@media (max-width: 1270px) {
    .ag_main-wrapper {
        max-height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 70px 0;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 60px;
    }
}

@media (max-width: 700px) {
    .ag_main-wrapper {
        gap: 32px;
        padding: 40px 0;
    }
}

.ag_main-left {
    max-width: 571px;
}

@media (max-width: 1270px) {
    .ag_main-left {
        max-width: 569px;
        margin-left: 50px;
    }
}

@media (max-width: 700px) {
    .ag_main-left {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.ag_main-left_text {
    max-width: 515px;
    padding: 24px 0 32px;
}

@media (max-width: 700px) {
    .ag_main-left_text {
        padding: 20px 0 32px;
    }
}

.ag_main-left_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

@media (max-width: 700px) {
    .ag_main-left_buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 16px;
    }
}

.ag_main-left_buttons-linear, .ag_main-left_buttons-white {
    width: 100%;
}

.ag_main-left_buttons-linear {
    max-width: 210px;
}

@media (max-width: 700px) {
    .ag_main-left_buttons-linear {
        max-width: 100%;
    }
}

.ag_main-left_buttons-white {
    max-width: 223px;
}

@media (max-width: 700px) {
    .ag_main-left_buttons-white {
        max-width: 100%;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}

.ag_main-right {
    height: 700px;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 574px;
    min-width: 574px;
}

@media (max-width: 1270px) {
    .ag_main-right {
        display: none;
    }
}

.ag_main-right_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media (max-width: 1270px) {
    .ag_main-right_box {
        gap: 17px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        position: relative;
    }
}

.ag_main-right_img {
    max-width: 277px;
    width: 100%;
    border-radius: 30px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 1270px) {
    .ag_main-right_img {
        max-width: 185px;
    }
}

@media (max-width: 700px) {
    .ag_main-right_img {
        max-width: 119px;
    }
}

.ag_main-right_one {
    left: 0;
    -webkit-animation: scrollDown 25s linear infinite;
    animation: scrollDown 25s linear infinite;
    top: 0;
}

.ag_main-right_two {
    right: 0;
    top: 0;
    animation: scrollDown 25s linear infinite reverse;
}

.ag_main_mobile {
    display: none;
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media (max-width: 1270px) {
    .ag_main_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 17px;
    }
}

@media (max-width: 700px) {
    .ag_main_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 10px;
    }
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@-webkit-keyframes scrollDown {
    to {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@keyframes scrollDown {
    to {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.ag_advantages {
    padding-top: 80px;
}

@media (max-width: 1270px) {
    .ag_advantages {
        padding-top: 40px;
    }
}

@media (max-width: 700px) {
    .ag_advantages {
        padding-top: 32px;
    }
}

.ag_advantages__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 1270px) {
    .ag_advantages__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a b" "c c";
    }
}

@media (max-width: 700px) {
    .ag_advantages__wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c";
        gap: 16px;
    }
}

.ag_advantages__wrapper-card {
    background: #f7f7f7;
    border-radius: 30px;
    padding: 40px;
}

@media (max-width: 1270px) {
    .ag_advantages__wrapper-card {
        padding: 32px;
    }
}

@media (max-width: 700px) {
    .ag_advantages__wrapper-card {
        padding: 24px;
    }
}

.ag_advantages__wrapper-card_icon {
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
    object-fit: contain;
}

.ag_advantages__wrapper-card_titel {
    display: block;
    padding: 24px 0 16px;
}

@media (max-width: 1270px) {
    .ag_advantages__wrapper-card.ag_card-1 {
        grid-area: a;
    }
}

@media (max-width: 1270px) {
    .ag_advantages__wrapper-card.ag_card-2 {
        grid-area: b;
    }
}

@media (max-width: 1270px) {
    .ag_advantages__wrapper-card.ag_card-3 {
        grid-area: c;
    }
}

@media (max-width: 1270px) {
    .ag_advantages__wrapper-card.ag_card-3 .ag_advantages__wrapper-card_text {
        max-width: 569px;
    }
}

.ag_works-text {
    padding-top: 20px;
    max-width: 623px;
}

@media (max-width: 1270px) {
    .ag_works-text {
        max-width: 616px;
    }
}

@media (max-width: 700px) {
    .ag_works-text {
        max-width: 289px;
    }
}

.ag_works-container {
    padding-top: 50px;
}

@media (max-width: 1270px) {
    .ag_works-container {
        overflow: scroll;
    }
}

@media (max-width: 700px) {
    .ag_works-container {
        padding-top: 32px;
    }
}

.ag_works-container_btn {
    padding-top: 50px;
    max-width: 210px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .ag_works-container_btn {
        max-width: 100%;
        padding-top: 32px;
        padding-right: 16px;
        margin: 0;
    }
}

.ag_works-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 1270px) {
    .ag_works-wrapper {
        min-width: 1216px;
        overflow-x: scroll;
        padding-right: 30px;
    }
}

@media (max-width: 700px) {
    .ag_works-wrapper {
        gap: 12px;
        min-width: 910px;
        padding-right: 16px;
    }
}

.ag_works-wrapper_box {
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 30px;
    padding: 40px;
    background: #f7f7f7;
    max-width: 453px;
    overflow: hidden;
}

@media (max-width: 1270px) {
    .ag_works-wrapper_box {
        padding: 32px;
    }
}

@media (max-width: 700px) {
    .ag_works-wrapper_box {
        padding: 24px;
        min-height: 340px;
    }
}

.ag_works-wrapper_box-descr {
    padding-top: 16px;
}

@media (max-width: 700px) {
    .ag_works-wrapper_box-descr {
        padding-top: 12px;
    }
}

.ag_works-wrapper_box-photo_1, .ag_works-wrapper_box-photo_2, .ag_works-wrapper_box-photo_3 {
    margin: 0 auto;
}

.ag_works-wrapper_box-photo_1, .ag_works-wrapper_box-photo_2 {
    max-width: 373px;
}

@media (max-width: 1400px) {
    .ag_works-wrapper_box-photo_1 {
        max-width: 302px;
    }
}

@media (max-width: 1270px) {
    .ag_works-wrapper_box-photo_1 {
        max-width: 318px;
    }
}

@media (max-width: 700px) {
    .ag_works-wrapper_box-photo_1 {
        min-height: 112px;
    }
}

.ag_works-wrapper_box-photo_2 {
    max-height: 170px;
}

@media (max-width: 1400px) {
    .ag_works-wrapper_box-photo_2 {
        min-width: 373px;
    }
}

@media (max-width: 1270px) {
    .ag_works-wrapper_box-photo_2 {
        min-width: 337px;
    }
}

@media (max-width: 700px) {
    .ag_works-wrapper_box-photo_2 {
        min-width: auto;
        min-height: 127px;
    }
}

.ag_works-wrapper_box-photo_3 {
    max-width: 198px;
}

@media (max-width: 700px) {
    .ag_works-wrapper_box-photo_3 {
        max-width: 138px;
        min-height: 139px;
    }
}

.ag_works-wrapper_box-photo_1-img,
.ag_works-wrapper_box-photo_2-img,
.ag_works-wrapper_box-photo_3-img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (max-width: 1400px) {
    .ag_works-wrapper_box:nth-child(2) {
        padding: 40px 0 40px 40px;
    }
}

@media (max-width: 700px) {
    .ag_works-wrapper_box:nth-child(2) {
        padding: 24px;
    }
}

@media (max-width: 1400px) {
    .ag_works-wrapper_box:nth-child(2) .ag_works-wrapper_box-descr {
        padding-right: 40px;
    }
}

@media (max-width: 1270px) {
    .ag_works-wrapper_box:nth-child(2) .ag_works-wrapper_box-descr {
        padding-right: 32px;
        max-width: 275px;
    }
}

@media (max-width: 700px) {
    .ag_works-wrapper_box:nth-child(2) .ag_works-wrapper_box-descr {
        max-width: 100%;
        padding-right: 0;
    }
}

.ag_verified {
    margin: 0 20px;
}

@media (max-width: 1270px) {
    .ag_verified {
        margin: 0;
    }
}

.ag_verified-bg {
    max-width: 1816px;
    border-radius: 30px;
    background: #f7f7f7;
    margin: 0 auto;
}

@media (max-width: 1270px) {
    .ag_verified-bg {
        border-radius: 0;
    }
}

.ag_verified-top {
    max-width: 642px;
    margin: 0 auto;
}

@media (max-width: 1270px) {
    .ag_verified-top {
        margin: 0;
        max-width: 708px;
    }
}

.ag_verified-top_text {
    max-width: 574px;
    padding: 20px 0 50px;
}

@media (max-width: 1270px) {
    .ag_verified-top_text {
        margin: 0;
        max-width: 708px;
    }
}

@media (max-width: 1270px) {
    .ag_verified__scroll {
        overflow: scroll;
    }
}

.ag_verified__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 32px 20px;
}

@media (max-width: 1270px) {
    .ag_verified__wrapper {
        width: 2422px;
        margin-right: 30px;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        grid-template-rows: 1fr;
    }
}

@media (max-width: 700px) {
    .ag_verified__wrapper {
        width: 1840px;
        margin-right: 16px;
    }
}

.ag_verified__wrapper-card {
    border-radius: 30px;
    padding: 32px;
    background: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

@media (max-width: 700px) {
    .ag_verified__wrapper-card {
        padding: 24px;
    }
}

.ag_verified__wrapper-card-box {
    height: 100%;
}

.ag_verified__wrapper-card_photo {
    border-radius: 24px;
    max-width: 389px;
}

@media (max-width: 1270px) {
    .ag_verified__wrapper-card_photo {
        max-width: 318px;
    }
}

.ag_verified__wrapper-card_photo-img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%;
    min-height: 322px;
    max-height: 322px;
    border-radius: 24px;
    -webkit-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
}

@media (max-width: 1270px) {
    .ag_verified__wrapper-card_photo-img {
        min-height: 242px;
        max-height: 242px;
    }
}

@media (max-width: 700px) {
    .ag_verified__wrapper-card_photo-img {
        max-height: 238px;
        min-height: 238px;
    }
}

.ag_verified__wrapper-card_inner {
    gap: 8px;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 94px;
}

.ag_verified__wrapper-card_hidden {
    padding-top: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
    overflow: hidden;
    max-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
}

.ag_verified__wrapper-card_hidden-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
}

@media (max-width: 1270px) {
    .ag_verified__wrapper-card_hidden {
        max-height: 100%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        overflow: visible;
        padding-top: 16px;
    }
}

.ag_verified__wrapper-card_hidden-item {
    border-radius: 4px;
    padding: 4px 8px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
}

.ag_verified__wrapper-card_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ag_verified__wrapper-card_hidden .ag_pink {
    background: #ffe5f6;
}

.ag_verified__wrapper-card_hidden .ag_blue {
    background: #e1eeff;
}

.ag_verified__wrapper-card_hidden .ag_green {
    background: #e2f4d4;
}

@media (hover: hover) {
    .ag_verified__wrapper-card:hover .ag_verified__wrapper-card_hidden {
        max-height: 64px;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        overflow: visible;
        padding-top: 16px;
    }

    .ag_verified__wrapper-card:hover .ag_verified__wrapper-card_photo-img {
        max-height: 242px;
        min-height: 242px;
    }
}

@media (hover: hover) and (max-width: 1550px) {
    .ag_verified__wrapper-card:hover .ag_verified__wrapper-card_photo-img {
        max-height: 222px;
        min-height: 222px;
    }
}

.ag_application-content {
    background: #e2f4d4;
    border-radius: 30px;
    padding: 65px 80px 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 1400px) {
    .ag_application-content {
        padding: 65px 0 57px 80px;
    }
}

@media (max-width: 1270px) {
    .ag_application-content {
        padding: 70px 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 70px;
    }
}

@media (max-width: 700px) {
    .ag_application-content {
        gap: 32px;
        padding: 40px 20px;
    }
}

.ag_application-content_descr {
    max-width: 585px;
}

@media (max-width: 1270px) {
    .ag_application-content_descr {
        max-width: 608px;
    }
}

.ag_application-content_descr-text {
    padding: 20px 0 32px;
    max-width: 571px;
}

.ag_application-content_descr-btn {
    max-width: 210px;
}

@media (max-width: 700px) {
    .ag_application-content_descr-btn {
        max-width: 100%;
    }
}

.ag_application-content_photo {
    max-width: 510px;
}

@media (max-width: 1270px) {
    .ag_application-content_photo {
        margin: 0 auto;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}

.ag_application-content_photo-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.ag_selection-top {
    max-width: 677px;
    padding-bottom: 50px;
}

@media (max-width: 700px) {
    .ag_selection-top {
        padding-bottom: 32px;
    }
}

.ag_selection-top_titel {
    display: block;
    max-width: 625px;
    padding-bottom: 20px;
}

.ag_selection__wrapper {
    display: grid;
    grid-template-areas: "card-1 card-2 card-2 card-blue" "card-3 card-4 card-5 card-blue";
    gap: 20px;
}

@media (max-width: 1550px) {
    .ag_selection__wrapper {
        grid-template-areas: "card-1 card-2 card-2" "card-3 card-4 card-5" "card-blue card-blue card-blue";
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1270px) {
    .ag_selection__wrapper {
        grid-template-areas: "card-1 card-1" "card-2 card-3" "card-4 card-5" "card-blue card-blue";
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .ag_selection__wrapper {
        grid-template-areas: "card-1" "card-2" "card-3" "card-4" "card-5" "card-blue";
        grid-template-columns: 1fr;
    }
}

.ag_selection__wrapper-card {
    border-radius: 30px;
    padding: 40px;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 230px;
}

@media (max-width: 1270px) {
    .ag_selection__wrapper-card {
        padding: 32px;
    }
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card {
        gap: 40px;
        min-height: auto;
        padding: 24px;
    }
}

.ag_selection__wrapper-card_icon {
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
    object-fit: contain;
}

.ag_selection__wrapper-card-1 {
    grid-area: card-1;
    max-width: 335px;
}

@media (max-width: 1550px) {
    .ag_selection__wrapper-card-1 {
        max-width: 100%;
    }
}

@media (max-width: 1270px) {
    .ag_selection__wrapper-card-1 {
        min-height: 159px;
    }
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card-1 {
        min-height: auto;
    }
}

.ag_selection__wrapper-card-2 {
    grid-area: card-2;
    max-width: 572px;
}

@media (max-width: 1550px) {
    .ag_selection__wrapper-card-2 {
        max-width: 100%;
    }
}

.ag_selection__wrapper-card-3 {
    grid-area: card-3;
}

.ag_selection__wrapper-card-4 {
    grid-area: card-4;
    max-width: 276px;
}

@media (max-width: 1550px) {
    .ag_selection__wrapper-card-4 {
        max-width: 100%;
    }
}

.ag_selection__wrapper-card-5 {
    grid-area: card-5;
    max-width: 276px;
}

@media (max-width: 1550px) {
    .ag_selection__wrapper-card-5 {
        max-width: 100%;
    }
}

.ag_selection__wrapper-card_blue {
    grid-area: card-blue;
    border-radius: 30px;
    padding: 40px;
    background: #e1eeff;
    max-width: 453px;
}

@media (max-width: 1550px) {
    .ag_selection__wrapper-card_blue {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 40px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (max-width: 1270px) {
    .ag_selection__wrapper-card_blue {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 32px;
    }
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue {
        gap: 32px;
        padding: 24px;
    }
}

@media (max-width: 1550px) {
    .ag_selection__wrapper-card_blue-item {
        max-width: 580px;
    }
}

@media (max-width: 1270px) {
    .ag_selection__wrapper-card_blue-item {
        max-width: 100%;
    }
}

.ag_selection__wrapper-card_blue-titel {
    padding-bottom: 16px;
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-titel {
        padding-bottom: 12px;
    }
}

.ag_selection__wrapper-card_blue-text {
    padding-top: 20px;
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-text {
        padding-top: 15px;
    }
}

.ag_selection__wrapper-card_blue-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 62px;
}

@media (max-width: 1550px) {
    .ag_selection__wrapper-card_blue-container {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-top: 0;
        -webkit-transform: translateX(105px);
        -ms-transform: translateX(105px);
        transform: translateX(105px);
    }
}

@media (max-width: 1270px) {
    .ag_selection__wrapper-card_blue-container {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-container {
        position: relative;
        height: 95px;
        width: 100%;
        max-width: 303px;
    }
}

.ag_selection__wrapper-card_blue-container_circle {
    border-radius: 100%;
    max-width: 120px;
    min-width: 120px;
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-container_circle {
        max-width: 94px;
        min-width: 94px;
    }
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-container_circle {
        position: absolute;
    }
}

.ag_selection__wrapper-card_blue-container_circle-photo {
    border: 4px solid #fff;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-container_circle-photo {
        border: 2px solid #fff;
    }
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-container_circle.ag_circle-1 {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        left: 0;
    }
}

.ag_selection__wrapper-card_blue-container_circle.ag_circle-2 {
    -webkit-transform: translateX(-35px);
    -ms-transform: translateX(-35px);
    transform: translateX(-35px);
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-container_circle.ag_circle-2 {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        right: 139px;
    }
}

.ag_selection__wrapper-card_blue-container_circle.ag_circle-3 {
    -webkit-transform: translateX(-70px);
    -ms-transform: translateX(-70px);
    transform: translateX(-70px);
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-container_circle.ag_circle-3 {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        right: 66px;
    }
}

.ag_selection__wrapper-card_blue-container_circle.ag_circle-4 {
    -webkit-transform: translateX(-105px);
    -ms-transform: translateX(-105px);
    transform: translateX(-105px);
}

@media (max-width: 700px) {
    .ag_selection__wrapper-card_blue-container_circle.ag_circle-4 {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        right: 0;
    }
}

.ag_search {
    margin: 0 20px;
}

@media (max-width: 1270px) {
    .ag_search {
        margin: 0;
    }
}

.ag_search-wrapper {
    border-radius: 30px;
    background: #f7f7f7;
    max-width: 1816px;
    margin: 0 auto;
}

@media (max-width: 1270px) {
    .ag_search-wrapper {
        border-radius: 0;
    }
}

.ag_search-titel {
    display: block;
    max-width: 495px;
}

@media (max-width: 1270px) {
    .ag_search-titel {
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    .ag_search-titel {
        max-width: 257px;
    }
}

.ag_search-content {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 1270px) {
    .ag_search-content {
        padding-top: 32px;
        gap: 30px;
    }
}

@media (max-width: 700px) {
    .ag_search-content {
        gap: 12px;
    }
}

.ag_search-content_box {
    border-radius: 30px;
    padding: 40px;
    background: #fff;
    max-width: 690px;
}

@media (max-width: 1550px) {
    .ag_search-content_box {
        max-width: 583px;
    }
}

@media (max-width: 1270px) {
    .ag_search-content_box {
        padding: 0;
        background: transparent;
        max-width: 339px;
    }
}

@media (max-width: 700px) {
    .ag_search-content_box {
        max-width: 165.5px;
    }
}

.ag_search-content_box-top_green, .ag_search-content_box-top_linear {
    border-radius: 30px;
    padding: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 32px;
    line-height: 120%;
    font-family: "NunitoSans-SemiBold";
}

@media (max-width: 1270px) {
    .ag_search-content_box-top_green, .ag_search-content_box-top_linear {
        border-radius: 24px;
        padding: 12px 32px;
        font-size: 24px;
        line-height: 120%;
    }
}

.ag_search-content_box-top_green {
    color: #1b1b1b;
    background: #f7f7f7;
}

@media (max-width: 1270px) {
    .ag_search-content_box-top_green {
        background: #fff;
    }
}

.ag_search-content_box-top_linear {
    background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#fc927b));
    background: -o-linear-gradient(left, #ff416c 0%, #fc927b 100%);
    background: linear-gradient(90deg, #ff416c 0%, #fc927b 100%);
    color: #fff;
}

.ag_search-content_box-inner {
    margin-top: 32px;
}

@media (max-width: 1270px) {
    .ag_search-content_box-inner {
        margin-top: 24px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.ag_search-content_box-inner_icon {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (max-width: 1270px) {
    .ag_search-content_box-inner_icon {
        width: 16px;
        height: 16px;
    }
}

.ag_search-content_box-inner_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ag_search-btn {
    padding-top: 50px;
    max-width: 210px;
    margin: 0 auto;
}

@media (max-width: 1270px) {
    .ag_search-btn {
        padding-top: 32px;
    }
}

@media (max-width: 700px) {
    .ag_search-btn {
        max-width: 100%;
    }
}

.ag_search-content_box-inner,
.ag_search-content_box-inner_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
}

.ag_search-content_box-inner_2 {
    min-height: 110px;
}

@media (max-width: 1270px) {
    .ag_search-content_box-inner_2 {
        min-height: 146px;
    }
}

@media (max-width: 700px) {
    .ag_search-content_box-inner_2 {
        min-height: 148px;
    }
}

.ag_search-content_box-inner_3 {
    min-height: 87px;
}

@media (max-width: 1270px) {
    .ag_search-content_box-inner_3 {
        min-height: 146px;
    }
}

@media (max-width: 700px) {
    .ag_search-content_box-inner_3 {
        min-height: 149px;
    }
}

@media (max-width: 1550px) {
    .ag_search-content_box-inner_5 {
        margin-top: 9px;
    }
}

@media (max-width: 1270px) {
    .ag_search-content_box-inner_5 {
        margin-top: 24px;
    }
}

.ag_reviews {
    padding-bottom: 160px;
}

@media (max-width: 1400px) {
    .ag_reviews {
        padding-bottom: 140px;
    }
}

@media (max-width: 1270px) {
    .ag_reviews {
        padding-bottom: 100px;
    }
}

@media (max-width: 700px) {
    .ag_reviews {
        padding-bottom: 80px;
    }
}

.ag_reviews-titel {
    display: block;
    max-width: 563px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 1270px) {
    .ag_reviews-titel {
        margin: 0;
        text-align: start;
    }
}

.ag_reviews-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 32px;
    gap: 24px;
}

@media (max-width: 700px) {
    .ag_reviews-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.ag_reviews-bottom_text {
    max-width: 508px;
}

@media (max-width: 1270px) {
    .ag_reviews-bottom_text {
        max-width: 341px;
    }
}

@media (max-width: 700px) {
    .ag_reviews-bottom_text {
        max-width: 100%;
    }
}

.ag_reviews-bottom_btn {
    max-width: 320px;
    width: 100%;
}

@media (max-width: 700px) {
    .ag_reviews-bottom_btn {
        max-width: 100%;
    }
}

.ag_slider {
    padding-top: 50px;
}

@media (max-width: 1270px) {
    .ag_slider {
        padding: 50px 0 0 30px;
    }
}

@media (max-width: 700px) {
    .ag_slider {
        padding: 32px 0 0 16px;
    }
}

.ag_slider-slide {
    border-radius: 30px;
    padding: 40px;
    background: #f7f7f7;
}

@media (max-width: 1270px) {
    .ag_slider-slide {
        padding: 32px;
    }
}

@media (max-width: 700px) {
    .ag_slider-slide {
        padding: 24px;
    }
}

.ag_slider-slide_wrapper {
    display: grid;
    grid-template-areas: "top video" "text video" "link video";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    height: 100%;
}

@media (max-width: 700px) {
    .ag_slider-slide_wrapper {
        grid-template-areas: "top" "text" "video" "link";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
    }
}

.ag_slider-slide_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-area: top;
}

.ag_slider-slide_top-img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%;
    -o-object-position: top;
    object-position: top;
}

.ag_slider-slide_top-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

.ag_slider-slide_text {
    grid-area: text;
    max-width: 300px;
    padding: 20px 0;
}

@media (max-width: 1270px) {
    .ag_slider-slide_text {
        max-width: 272px;
    }
}

@media (max-width: 700px) {
    .ag_slider-slide_text {
        padding: 20px 0 26px;
        max-width: 100%;
    }
}

.ag_slider-slide_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-area: link;
}

@media (max-width: 700px) {
    .ag_slider-slide_link {
        padding-top: 24px;
    }
}

.ag_slider-slide_link-arrow {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
}

.ag_slider-slide_video {
    grid-area: video;
    position: relative;
    border-radius: 24px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .ag_slider-slide_video {
        min-height: 300px;
    }
}

.ag_slider-slide_video-inner {
    -o-object-fit: fill;
    object-fit: fill;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.ag_slider-slide_video-photo {
    position: absolute;
    content: "";
    border-radius: 24px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.ag_slider-slide_video-photo_img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.ag_video.ag_photo-none .ag_video__play {
    display: none;
}

.ag_slider .slick-slide {
    margin-left: 20px;
}

@media (max-width: 700px) {
    .ag_slider .slick-slide {
        margin-left: 12px;
    }
}

.ag_slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ag_slider .slick-slide {
    height: auto;
}

@media (max-width: 1810px) {
    .ag_slider .slick-slide {
        max-width: 690px;
    }
}

@media (max-width: 1270px) {
    .ag_slider .slick-slide {
        max-width: 640px;
    }
}

@media (max-width: 700px) {
    .ag_slider .slick-slide {
        max-width: 290px;
    }
}

.ag_slider .slick-prev,
.ag_slider .slick-next {
    display: none !important;
}

.ag_video.photo-none .ag_slider-slide_video-photo {
    display: none;
}

.ag_question {
    margin: 0 20px;
}

@media (max-width: 1270px) {
    .ag_question {
        margin: 0;
    }
}

.ag_question-bg {
    border-radius: 30px;
    background: #f7f7f7;
}

@media (max-width: 1270px) {
    .ag_question-bg {
        border-radius: 0;
    }
}

.ag_question-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 50px;
}

@media (max-width: 1270px) {
    .ag_question-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px) {
    .ag_question-wrapper {
        padding-top: 32px;
        gap: 12px;
    }
}

.ag_question-wrapper_accordion {
    background: #fff;
    padding: 0 40px;
    border-radius: 20px;
    display: grid;
    grid-template-areas: "btn icon" "text icon";
    grid-template-rows: auto auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    cursor: pointer;
}

@media (max-width: 1270px) {
    .ag_question-wrapper_accordion {
        padding: 0 32px;
    }
}

@media (max-width: 700px) {
    .ag_question-wrapper_accordion {
        padding: 0 24px;
    }
}

.ag_question-wrapper_accordion-btns {
    text-align: start;
    display: block;
    max-width: 562px;
    grid-area: btn;
    width: 100%;
    -webkit-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    margin: 32px 0;
    min-height: 52px;
}

@media (max-width: 1270px) {
    .ag_question-wrapper_accordion-btns {
        max-width: 596px;
        min-height: auto;
    }
}

@media (max-width: 700px) {
    .ag_question-wrapper_accordion-btns {
        margin: 24px 0;
    }
}

.ag_question-wrapper_accordion-text {
    max-width: 562px;
}

@media (max-width: 1270px) {
    .ag_question-wrapper_accordion-text {
        max-width: 596px;
    }
}

.ag_question-wrapper_accordion-icon {
    grid-area: icon;
}

.ag_accordion__content {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    -webkit-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.ag_accordion.ag_open .ag_question-wrapper_accordion-btns {
    padding-bottom: 16px;
}

.ag_accordion.ag_open .ag_question-wrapper_accordion-btns {
    margin: 32px 0 0;
}

@media (max-width: 700px) {
    .ag_accordion.ag_open .ag_question-wrapper_accordion-btns {
        margin: 24px 0 0;
    }
}

.ag_accordion.ag_open .ag_accordion__content {
    padding-bottom: 32px;
}

.ag_organization {
    padding: 160px 0 85px;
}

@media (max-width: 1550px) {
    .ag_organization {
        padding: 140px 0 30px;
    }
}

@media (max-width: 1270px) {
    .ag_organization {
        padding: 100px 0 112px;
    }
}

@media (max-width: 700px) {
    .ag_organization {
        padding: 80px 0 177px;
    }
}

.ag_organization__wrapper {
    position: relative;
    background: #f7f7f7;
    padding: 40px 40px 40px 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 30px;
    gap: 20px;
}

@media (max-width: 1270px) {
    .ag_organization__wrapper {
        padding: 70px 40px 40px;
        gap: 80px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .ag_organization__wrapper {
        gap: 40px;
        padding: 40px 20px 20px;
    }
}

.ag_organization__wrapper-left {
    max-width: 600px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
}

@media (max-width: 1270px) {
    .ag_organization__wrapper-left {
        gap: 43px;
    }
}

@media (max-width: 700px) {
    .ag_organization__wrapper-left {
        gap: 20px;
        max-width: 303px;
    }
}

.ag_organization__wrapper-left_boxs {
    width: 100%;
    position: relative;
    min-height: 192px;
}

@media (max-width: 700px) {
    .ag_organization__wrapper-left_boxs {
        min-height: 96px;
    }
}

.ag_organization__wrapper-left_boxs-circle {
    position: absolute;
    min-width: 192px;
    max-width: 192px;
    border-radius: 100%;
}

@media (max-width: 700px) {
    .ag_organization__wrapper-left_boxs-circle {
        max-width: 96px;
        min-width: 96px;
    }
}

.ag_organization__wrapper-left_boxs-circle_img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border: 3px solid #fff;
}

@media (max-width: 700px) {
    .ag_organization__wrapper-left_boxs-circle_img {
        border: 1.45px solid #fff;
    }
}

.ag_organization__wrapper-left_boxs-circle_1 {
    left: 0;
}

.ag_organization__wrapper-left_boxs-circle_2 {
    left: 136px;
}

@media (max-width: 700px) {
    .ag_organization__wrapper-left_boxs-circle_2 {
        left: 69px;
    }
}

.ag_organization__wrapper-left_boxs-circle_3 {
    right: 136px;
}

@media (max-width: 700px) {
    .ag_organization__wrapper-left_boxs-circle_3 {
        right: 69px;
    }
}

.ag_organization__wrapper-left_boxs-circle_4 {
    right: 0;
}

.ag_organization__wrapper-right {
    border-radius: 24px;
    padding: 72px 40px;
    background: #e1eeff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 560px;
    width: 100%;
}

@media (max-width: 1550px) {
    .ag_organization__wrapper-right {
        max-width: 386px;
    }
}

@media (max-width: 1270px) {
    .ag_organization__wrapper-right {
        max-width: 628px;
    }
}

@media (max-width: 700px) {
    .ag_organization__wrapper-right {
        max-width: 303px;
        padding: 40px 20px;
    }
}

.ag_organization__wrapper-right_time {
    gap: 6px;
    padding: 20px 0;
}

.ag_organization__wrapper-right_time-item {
    border-radius: 9px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 68px;
    min-width: 68px;
    background: #fff;
    padding: 13px 0;
}

@media (max-width: 700px) {
    .ag_organization__wrapper-right_time-item {
        max-width: 60px;
        min-width: 60px;
    }
}

.ag_organization__wrapper-right_date, .ag_organization__wrapper-right_text, .ag_organization__wrapper-right_button, .ag_organization__wrapper-right_time {
    margin: 0 auto;
}

.ag_organization__wrapper-right_text {
    text-align: center;
    max-width: 324px;
}

.ag_organization__wrapper-right_button {
    padding-top: 32px;
    max-width: 210px;
    width: 100%;
}

@media (max-width: 700px) {
    .ag_organization__wrapper-right_button {
        max-width: 263px;
    }
}

.ag_organization__wrapper-btn {
    position: absolute;
    max-width: 210px;
    width: 100%;
    right: -188px;
    bottom: -13px;
}

@media (max-width: 1810px) {
    .ag_organization__wrapper-btn {
        right: -20px;
        bottom: 10px;
    }
}

@media (max-width: 1270px) {
    .ag_organization__wrapper-btn {
        bottom: -82px;
        right: 0;
    }
}

@media (max-width: 700px) {
    .ag_organization__wrapper-btn {
        bottom: -115px;
        left: 0;
        max-width: 100%;
    }
}

.ag_organization__wrapper,
.ag_organization__wrapper-left,
.ag_organization__wrapper-right,
.ag_organization__wrapper-right_time,
.ag_organization__wrapper-right_time-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}